<!-- views/faculty/index.ejs -->
<!DOCTYPE html>

<html>
	<head>
		<title>Search Faculty</title>
		<%- include('../partials/head.ejs') %>
	</head>
	
	<body>
		<div class="container-fluid h-100">
			<div class="row h-100">

				<div class='col-lg-3 sidebar text-center'>

					<%- include('../partials/admin-sidebar.ejs') %>

					<%- include('./search-faculty.ejs') %>

				</div>
				
				<div class='col-lg-9 panelbg text-center'>
					<h1>Faculty</h1>
					 <% if(faculty.length>0) { %>
						<table align="center" border="1" class="display-table">
							<thead>
								<tr>
									<th class="col-username">Username</th>
									<th class="col-firstname">First name</th>
									<th class="col-lastname">Last Name</th>
									<th class="col-pid">PID</th>
									<th class="col-delete"></th>
								</tr>
							</thead>
							<tbody>

								<% for(var i=0; i<faculty.length; i++) { %>
									<tr>
										<td><a href="/faculty/edit/<%=faculty[i]._id%>"><%= faculty[i].username%></a></td>
										<td><%= faculty[i].firstName%></td>
										<td><%= faculty[i].lastName%></td>
										<td><%= faculty[i].pid%></td>
										<td>
											<!--IDK if I need to use form here for delete, change it if it is wrong-->
											<form action="/faculty/delete/<%=faculty[i]._id%>" method="post">
												<button type="submit" class="btn btn-danger" onclick="return confirm('Do you really want to delete this?');">Delete</button>
											</form>
										</td>
									</tr>
								<% } %>
							</tbody>
						</table>
					<% } else { %>
						<div>No Faculty found.</div>
					<% } %>
				</div>
			</div>
		</div>
	</body>
</html>