<!-- views/job/index.ejs -->
<!DOCTYPE html>

<html>
	<head>
		<title>Jobs</title>
		<%- include('../partials/head.ejs') %>
	</head>
	
	<body>
		<div class="container-fluid h-100">
			<div class="row h-100">

				<div class='col-lg-3 sidebar text-center'>

					<%- include('../partials/admin-sidebar.ejs') %>

					<%- include('./search-job.ejs') %>

				</div>
				
				<div class='col-lg-9 panelbg text-center'>
					<h1>Jobs</h1>
					 <% if(jobs.length>0) { %>
						<table align="center" border="1" class="table display-table table-dark">
							<thead>
								<tr>
									<th scope="col">Position</th>
									<th scope="col">Supervisor</th>
									<th scope="col">Course</th>
									<th scope="col"></th>
								</tr>
							</thead>
							<tbody>

								<% for(var i=0; i<jobs.length; i++) { %>
									<tr>
										<td><a href="/job/edit/<%=jobs[i]._id%>"><%= jobs[i].position%></a></td>
										<td><%= jobs[i].supervisor.lastName%>, <%= jobs[i].supervisor.firstName%></td>
										<td><%= jobs[i].course.name%> <%= jobs[i].course.number%></td>
										<td>
											<!--IDK if I need to use form here for delete, change it if it is wrong-->
											<form action="/job/delete/<%=jobs[i]._id%>" method="post">
												<button type="submit" class="btn btn-danger" onclick="return confirm('Do you really want to delete this?');">Delete</button>
											</form>
										</td>
									</tr>
								<% } %>
							</tbody>
						</table>
					<% } else { %>
						<div>No jobs found.</div>
					<% } %>
				</div>
			</div>
		</div>
	</body>
</html>