<!-- views/job/index.ejs -->
<!DOCTYPE html>

<html>
	<head>
		<title>Jobs</title>
		<%- include('../partials/head.ejs') %>
	</head>
	
	<body>
		<div class="container-fluid h-100">
			<div class="row h-100">

				<div class='col-lg-2 sidebar text-center'>

					<%- include('../partials/admin-sidebar.ejs') %>

					<%- include('./search-job.ejs') %>

				</div>
				
				<div class='col-lg-10 panelbg text-center'>
					<h1>Jobs</h1>
					 <% if(jobs.length>0) { %>
						<table align="center" border="1" class="table display-table table-dark">
							<thead>
								<tr>
									<th scope="col">Position</th>
									<th scope="col">Supervisor</th>
									<th scope="col">Course</th>
									<th scope="col">Description</th>
									<th scope="col">Semester</th>
									<th scope="col"></th>
								</tr>
							</thead>
							<tbody>

								<% for(var i=0; i<jobs.length; i++) { %>
									<tr>
										<td><%= jobs[i].position%></td>
										<td><%= jobs[i].supervisor.lastName%>, <%= jobs[i].supervisor.firstName%></td>
										<% if(jobs[i].course != null){ %>
										<td><%= jobs[i].course.name%> <%= jobs[i].course.number%>, section <%=jobs[i].course.section%>, <%=jobs[i].course.semester.season%> <%=jobs[i].course.semester.year%></td>
										<% } else {%>
										<td></td>
										<% } %>
										<% if(jobs[i].description != null) { %>
										<td><%= jobs[i].description%></td>
										<% } else {%>
										<td></td>
										<% } %>
										<td><%= jobs[i].semester.season%>, <%= jobs[i].semester.year%></td>
										<td>
											<div class="col-md-10 offset-md-1">
												<a href="/job/edit/<%=jobs[i]._id%>" class="editTag"><button class="btn btn-light btn-block">Edit</button></a>
												<form action="/job/delete/<%=jobs[i]._id%>" method="post">
													<button type="submit" class="btn btn-danger btn-block" onclick="return confirm('Do you really want to delete this?');">Delete</button>
												</form>
											</div>
										</td>
									</tr>
								<% } %>
							</tbody>
						</table>
					<% } else { %>
						<div>No jobs found.</div>
					<% } %>
				</div>
			</div>
		</div>
	</body>
</html>