<!-- views/student/cs01.ejs -->
<!DOCTYPE html>

<html>
	<head>
		<title>CS01 Background Preperation Worksheet</title>
		<%- include("../partials/head.ejs") %>
	</head>
	
	<body>
		<div class="container-fluid h-100">
			<div class="row h-100">
				<div class="col-lg-2 sidebar text-center">

					<%- include("../partials/admin-sidebar.ejs") %>

					<%- include("./search-student.ejs") %>

				</div>
				<div align ="center" class="col-lg-10 panelbg text-center">

					<% if(uploadSuccess == true) { %>
					<div class="alert alert-success alert-dismissible fade show" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<strong>Submit success!</strong>
					</div>
					<% } %>

					<%- include("./studentBarPartial.ejs") %>

					<h4><%=student.lastName%>, <%=student.firstName%></h4>

					<h3>Background preperation worksheet</h3>
					<h3>CS-01</h3>

					<div align="left">
						<p class="underline">Instructions:</p>
						<div>The following UNC courses define the background preparation assumed in the M.S. and PhD programs.  This worksheet is intended to help identify possible missing areas in your preparation; it is entirely normal to include one or more background courses in the MS or PhD Program of Study in order to satisfy the background preparation requirement.
						</div>
						<div>  For each course, indicate how (e.g. course work, independent study, or work experience) and when you mastered the materials as defined by the list of principal topics.  For additional information on UNC course content, consult the online syllabi.  In case you are uncertain about the adequacy of your preparation for a given course, consult a course instructor or the instructor(s) of graduate courses that depend on the course in question</div>
						<hr></hr>
					

						<form action="/student/forms/update/<%=student._id%>/CS01" method="post">

							<input type="hidden" class="form-control" name="student" value=<%=student._id%> />

							<div class="row">
								<div class="col-md-6">
									<div>Name</div>
									<input type="text" class="form-control" name="name" value="<%=form.name%>" required/>
								</div>
								<div class="col-md-6">
									<div>PID</div>
									<input type="number" class="form-control" name="pid" value=<%=student.pid%> required />
								</div>
							</div>
							<hr></hr>

							<h3>Background Course Information</h3>

							<div class="row">
								<div class="col-md-4">
									<div><strong>COMP 283: Discrete Structures:</strong> Introduces discrete structures and the formal math used to establish their properties & those of algorithms that work with them.  Develops problem-solving skills through puzzles & applications central to CS. or <strong>MATH 381: Discrete Mathematics</strong> (see below)</div>
								</div>
								<div class="col-md-4">
									<div>Covered by:</div>
									<input type="text" class="form-control" name="comp283Covered" value="<%=form.comp283Covered%>" required />
								</div>
								<div class="col-md-4">
									<div>Dates:</div>
									<input type="text" class="form-control" name="comp283Date" value="<%=form.comp283Date%>" required />
								</div>
							</div>

							<hr></hr>

							<div class="row">
								<div class="col-md-4">
									<strong>COMP: 410:  Data Structures:</strong> The analysis of data structures and their associated algorithms.  Abstract data types, lists, stacks, queues, trees, and graphs.
								</div>
								<div class="col-md-4">
									<div>Covered by:</div>
									<input type="text" class="form-control" name="comp410Covered" value="<%=form.comp410Covered%>" required />
								</div>
								<div class="col-md-4">
									<div>Dates:</div>
									<input type="text" class="form-control" name="comp410Date" value="<%=form.comp410Date%>" required />
								</div>
							</div>

							<hr></hr>

							<div class="row">
								<div class="col-md-4">
									<strong>COMP 411: Computer Organization:</strong> Data respresentation, computer architecture and implementation, assembly language programming.
								</div>
								<div class="col-md-4">
									<div>Covered by:</div>
									<input type="text" class="form-control" name="comp411Covered" value="<%=form.comp411Covered%>" required />
								</div>
								<div class="col-md-4">
									<div>Dates:</div>
									<input type="text" class="form-control" name="comp411Date" value="<%=form.comp411Date%>" required />
								</div>
							</div>

							<hr></hr>

							<div class="row">
								<div class="col-md-4">
									<strong>COMP 455:  Models of Languages & Computation:</strong> Introduction to the theory of computation.  Boolean functions, finite automata, pushdown automata, & Turing machines.  Unsolvable problems.  The Chomsky hierarchy of formal languages & their acceptors.  Parsing. 
								</div>
								<div class="col-md-4">
									<div>Covered by:</div>
									<input type="text" class="form-control" name="comp455Covered" value="<%=form.comp455Covered%>" required />
								</div>
								<div class="col-md-4">
									<div>Dates:</div>
									<input type="text" class="form-control" name="comp455Date" value="<%=form.comp455Date%>" required />
								</div>
							</div>

							<hr></hr>

							<div class="row">
								<div class="col-md-4">
									<strong>*COMP 521:  Files & Databases:</strong> Placement of data on secondary storage.  File organization.  Database history, practice, major models, system structure and design.
								</div>
								<div class="col-md-4">
									<div>Covered by:</div>
									<input type="text" class="form-control" name="comp521Covered" value="<%=form.comp521Covered%>" required />
								</div>
								<div class="col-md-4">
									<div>Dates:</div>
									<input type="text" class="form-control" name="comp521Date" value="<%=form.comp521Date%>" required />
								</div>
							</div>

							<div class="verticalSpace" />

							<div class="row">
								<div class="col-md-4">
									<strong>*COMP 520:  Files & Databases:</strong> Placement of data on secondary storage.  File organization.  Database history, practice, major models, system structure and design.
								</div>
								<div class="col-md-4">
									<div>Covered by:</div>
									<input type="text" class="form-control" name="comp520Covered" value="<%=form.comp520Covered%>" required />
								</div>
								<div class="col-md-4">
									<div>Dates:</div>
									<input type="text" class="form-control" name="comp520Date" value="<%=form.comp520Date%>" required />
								</div>
							</div>

							<div class="verticalSpace" />

							<div class="row">
								<div class="col-md-4">
									<strong>*COMP 530:  Files & Databases:</strong> Placement of data on secondary storage.  File organization.  Database history, practice, major models, system structure and design.
								</div>
								<div class="col-md-4">
									<div>Covered by:</div>
									<input type="text" class="form-control" name="comp530Covered" value="<%=form.comp530Covered%>" required />
								</div>
								<div class="col-md-4">
									<div>Dates:</div>
									<input type="text" class="form-control" name="comp530Date" value="<%=form.comp530Date%>" required />
								</div>
							</div>

							<div class="verticalSpace" />
							
							<div class="text-center">(*Any two of these three will suffice*)</div>

							<hr></hr>
							
							<div class="row">
								<div class="col-md-4">
									<strong>COMP: 524:  Programming Language Concepts Concepts:</strong> of high-level programming & their realization in specific languages.  Data types, scope, control structures, procedural abstraction, classes, concurrency.  Run-time implementation
								</div>
								<div class="col-md-4">
									<div>Covered by:</div>
									<input type="text" class="form-control" name="comp524Covered" value="<%=form.comp524Covered%>" required />
								</div>
								<div class="col-md-4">
									<div>Dates:</div>
									<input type="text" class="form-control" name="comp524Date" value="<%=form.comp524Date%>" required />
								</div>
							</div>

							<div class="row">
								<div class="col-md-4">
									<strong>COMP 541:  Digital Logic & Computer Design:</strong> Digital logic, both combinational & sequential. State machines.  The structure & electronic design of modern processors.
								</div>
								<div class="col-md-4">
									<div>Covered by:</div>
									<input type="text" class="form-control" name="comp541Covered" value="<%=form.comp541Covered%>" required />
								</div>
								<div class="col-md-4">
									<div>Dates:</div>
									<input type="text" class="form-control" name="comp541Date" value="<%=form.comp541Date%>" required />
								</div>
							</div>

							<hr></hr>

							<div class="row">
								<div class="col-md-4">
									<strong>COMP 550:  Algorithms & Analysis:</strong> Formal specification and verification of programs.  Techniques of algorithm analysis.  Problem-Solving paradigms. 
								</div>
								<div class="col-md-4">
									<div>Covered by:</div>
									<input type="text" class="form-control" name="comp550Covered" value="<%=form.comp550Covered%>" required />
								</div>
								<div class="col-md-4">
									<div>Dates:</div>
									<input type="text" class="form-control" name="comp550Date" value="<%=form.comp550Date%>" required />
								</div>
							</div>

							<hr></hr>

							<div class="row">
								<div class="col-md-4">
									<strong>MATH 233:  Calculus of Functions of Several Variables:</strong> Vector algebra, solid analytic geometry, partial derivatives, multiple integrals. 
								</div>
								<div class="col-md-4">
									<div>Covered by:</div>
									<input type="text" class="form-control" name="math233Covered" value="<%=form.math233Covered%>" required />
								</div>
								<div class="col-md-4">
									<div>Dates:</div>
									<input type="text" class="form-control" name="math233Date" value="<%=form.math233Date%>" required />
								</div>
							</div>

							<hr></hr>

							<div class="row">
								<div class="col-md-4">
									<strong>MATH 381:  Discrete Mathematics:</strong> Topics from the foundations of mathematics; logic, set theory, relations & functions, induction, permutations & combinations, recurrence. or <strong>COMP 283:  Discrete Structures</strong>
								</div>
								<div class="col-md-4">
									<div>Covered by:</div>
									<input type="text" class="form-control" name="math381Covered" value="<%=form.math381Covered%>" required />
								</div>
								<div class="col-md-4">
									<div>Dates:</div>
									<input type="text" class="form-control" name="math381Date" value="<%=form.math381Date%>" required />
								</div>
							</div>

							<hr></hr>

							<div class="row">
								<div class="col-md-4">
									<strong>MATH 547:  Linear Algebra for Applications:</strong> Algebra of matrices with applications; determinants; solution of linear systems by Gaussian elimination; Gram-Schmidt procedure; eigenvalues.  Math 116 may not be taken for credit after credit has been granted for Math 147.
								</div>
								<div class="col-md-4">
									<div>Covered by:</div>
									<input type="text" class="form-control" name="math547Covered" value="<%=form.math547Covered%>" required />
								</div>
								<div class="col-md-4">
									<div>Dates:</div>
									<input type="text" class="form-control" name="math547Date" value="<%=form.math547Date%>" required />
								</div>
							</div>

							<hr></hr>

							<div class="row">
								<div class="col-md-4">
									<strong>MATH 661:  Introduction to Numerical Analysis:</strong> Error in computation; solution of nonlinear equations; interpolation; approximation of functions; Fourier methods; numerical integration & differentiation; introduction to numerical solution of ODE's; introductions to numerical linear algebra.
								</div>
								<div class="col-md-4">
									<div>Covered by:</div>
									<input type="text" class="form-control" name="math661Covered" value="<%=form.math661Covered%>" required />
								</div>
								<div class="col-md-4">
									<div>Dates:</div>
									<input type="text" class="form-control" name="math661Date" value="<%=form.math661Date%>" required />
								</div>
							</div>

							<hr></hr>

							<div class="row">
								<div class="col-md-4">
									<strong>STAT 435:  Introduction to Probability (MATH 146):</strong> Introduction to mathematical theory of probability covering random variables, moments, binomial, Poisson, normal & related distributions, generating functions, sums & sequences of random variables, & statistical applications.
								</div>
								<div class="col-md-4">
									<div>Covered by:</div>
									<input type="text" class="form-control" name="stat435Covered" value="<%=form.stat435Covered%>" required />
								</div>
								<div class="col-md-4">
									<div>Dates:</div>
									<input type="text" class="form-control" name="stat435Date" value="<%=form.stat435Date%>" required />
								</div>
							</div>

							<hr></hr>

							<div class="text-center">Review this worksheet with your adviser and submit the completed worksheet to the Student Services Coordinator preferably in electronic form.  Hard copies also accepted.  <strong>The worksheet is a component of the Program of Study for MS (CS-03) and/or PhD (CS-06).</strong></div>

							<hr></hr>

							<div class="row">
								<div class="col-md-4">
									<div>Student Signature:</div>
									<input type="text" class="form-control" name="studentSignature" value="<%=form.studentSignature%>" required />
								</div>
								<div class="col-md-8">
									<div>Date signed</div>
									<input type="text" class="form-control" name="studentDateSigned" value="<%=form.studentDateSigned%>" required />
								</div>
							</div>

							<div class="row">
								<div class="col-md-4">
									<div>Advisor signature:</div>
									<input type="text" class="form-control" name="advisorSignature" value="<%=form.advisorSignature%>" required />
								</div>
								<div class="col-md-8">
									<div>Date signed</div>
									<input type="text" class="form-control" name="advisorDateSigned" value="<%=form.advisorDateSigned%>" required />
								</div>
							</div>


							<button type="submit" class="btn btn-primary">Submit</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<%- include("../partials/bootstrapScripts.ejs") %>
	</body>
	<script type="text/javascript">

	</script>
</html>