<!DOCTYPE html>
<!-- views/student/CS06.ejs -->

<html>
	<head>
		<title>CS06 PhD Program of Study</title>
		<%- include("../partials/head.ejs") %>
	</head>
	
	<body>
		<div class="container-fluid h-100">
			<div class="row h-100">
				<div class="col-lg-2 sidebar text-center">

					<% if(!isStudent) {%>
					
					<%- include("../partials/admin-sidebar.ejs") %>

					<%- include("./search-student.ejs") %>

					<% } else{ %>

					<%- include("../partials/logout.ejs") %>

					<% } %>

				</div>
				<div align ="center" class="col-lg-10 panelbg text-center">

					<% if(uploadSuccess == true) { %>
					<div class="alert alert-success alert-dismissible fade show" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<strong>Submit success!</strong>
					</div>
					<% } %>
				
					<% if(!isStudent) {%>
					<%- include("./studentBarPartial.ejs") %>
					<% } else { %>
					<%- include("../partials/studentBarPartial.ejs") %>
					<% } %>

					<h4><%=student.lastName%>, <%=student.firstName%></h4>

					<h3>PhD Program of Study</h3>
					<h3>CS-06</h3>

					<div align="left">

						<form action="<%=postMethod%>" method="post">

							<input type="hidden" class="form-control" name="student" value=<%=student._id%> />

							<div class="row">
								<div class="col-md-3">
									<div>Name*</div>
									<input type="text" class="form-control" name="name" value="<%=student.lastName%>, <%=student.firstName%>" required/>
								</div>
								<div class="col-md-3">
									<div>PID*</div>
									<input type="number" class="form-control" name="pid" value=<%=student.pid%> required />
								</div>
								<div class="col-md-3">
									<div>Date submitted*</div>
									<input type="text" class="form-control" name="dateSubmitted" value="<%=form.dateSubmitted%>" required />
								</div>
								<div class="col-md-3">
									<div>Date entered program*</div>
									<input type="text" class="form-control" name="dateEntered" value="<%=form.dateEntered%>" required />
								</div>

							</div>

							<hr></hr>

							<strong>Instructions:</strong> 
							<div>This form details an individual program of study for the PhD Degree.  It should be filed with the Student Services Manager when the PhD program is substantially planned (typically by the <strong>6th semester</strong>) and can be amended subsequently.  Forms mentioned in this program of study can be filed separately and at a later date. </div>

							<div class="verticalSpace" />

							<div class="row">
								<div class="col-md-2">
									Title of Dissertation or Topic of Research Area*
								</div>
								<div class="col-md-6">
									<input type="text" class="form-control" name="dissTitle" value="<%=form.dissTitle%>" required />
								</div>
							</div>

							<hr />

							<strong>I. Course Requirements </strong>

							<div>Note:  For Courses taken other than at UNC-CH, attach at least a catalog description and preferably a syllabus. </div>

							<div class="verticalSpace"/>

							<strong>A. Required Courses</strong>

							<div class="row">
								<div class="col-md-2">
									<div>Comp 915: Technical Communication in CS. File CS-02 if waived.*</div>
								</div>
								<div class="col-md-2">
									<select name="comp915" class="form-control" id="inputStatus">
										<option value=<%=form.comp915%>><%=form.comp915%></option>
										<option value=false>False</option>
										<option value=true>True</option>
									</select>
								</div>
							</div>

							<div class="verticalSpace"> Breadth Requirement: List courses below</div>

							<hr />

							<strong>Breadth Requirement Courses</strong>
							<div>List the 6 courses taken to satisfy the distribution requirement.  Include the following information:</div>
							<div><a href="https://cs.unc.edu/academics/graduate/ms-requirements/course-categories" target="_blank"> (click link for list of courses & categories)</a></div>
							<div>T = Theory & Formal Thinking</div>
							<div>S = Systems & Hardware</div>
							<div>A = Applications</div>
							<div>O = Outside of CS</div>
							<div>-Include the sections numbers with any COMP 790 course listed.</div>
							<div>-Courses taken outside UNC-CH must be graduate courses and not counted toward an undergraduate degree, and require submission of a <a href="https://cs.unc.edu/academics/graduate/ms-requirements/progress-forms" target="_blank" >course waiver.</a></div>
							<div>Consult the official <a href="https://cs.unc.edu/academics/graduate/phd-requirements" target="_blank">CS PhD Degree Requirements</a> for eligible course and grade requirements.</div>

							<hr></hr>

							<div class="row">
								<div class="col-md-2">
									<div>Category*</div>
									<select name="breadthCourseCategory1" class="form-control">
										<option value=<%=form.breadthCourseCategory1%>><%=form.breadthCourseCategory1%> required </option>
										<option value="T">T</option>
										<option value="S">S</option>
										<option value="A">A</option>
										<option value="O">O</option>
									</select>

									<select name="breadthCourseCategory2" class="form-control">
										<option value=<%=form.breadthCourseCategory2%>><%=form.breadthCourseCategory2%> required </option>
										<option value="T">T</option>
										<option value="S">S</option>
										<option value="A">A</option>
										<option value="O">O</option>
									</select>

									<select name="breadthCourseCategory3" class="form-control">
										<option value=<%=form.breadthCourseCategory3%>><%=form.breadthCourseCategory3%> required </option>
										<option value="T">T</option>
										<option value="S">S</option>
										<option value="A">A</option>
										<option value="O">O</option>
									</select>

									<select name="breadthCourseCategory4" class="form-control">
										<option value=<%=form.breadthCourseCategory4%>><%=form.breadthCourseCategory4%> required </option>
										<option value="T">T</option>
										<option value="S">S</option>
										<option value="A">A</option>
										<option value="O">O</option>
									</select>

									<select name="breadthCourseCategory5" class="form-control">
										<option value=<%=form.breadthCourseCategory5%>><%=form.breadthCourseCategory5%> required </option>
										<option value="T">T</option>
										<option value="S">S</option>
										<option value="A">A</option>
										<option value="O">O</option>
									</select>

									<select name="breadthCourseCategory6" class="form-control">
										<option value=<%=form.breadthCourseCategory6%>><%=form.breadthCourseCategory6%> required </option>
										<option value="T">T</option>
										<option value="S">S</option>
										<option value="A">A</option>
										<option value="O">O</option>
									</select>
								</div>
								<div class="col-md-6">
									<div>Course Number, Title, & Name of Univ.*</div>
									<input type="text" class="form-control" name="breadthCourseInfo1" value="<%=form.breadthCourseInfo1%>" required />

									<input type="text" class="form-control" name="breadthCourseInfo2" value="<%=form.breadthCourseInfo2%>" required />

									<input type="text" class="form-control" name="breadthCourseInfo3" value="<%=form.breadthCourseInfo3%>" required />

									<input type="text" class="form-control" name="breadthCourseInfo4" value="<%=form.breadthCourseInfo4%>" required />

									<input type="text" class="form-control" name="breadthCourseInfo5" value="<%=form.breadthCourseInfo5%>" required />

									<input type="text" class="form-control" name="breadthCourseInfo6" value="<%=form.breadthCourseInfo6%>" required />
								</div>
								<div class="col-md-2">
									<div>Semester/Year*</div>
									<input type="text" class="form-control" name="breadthCourseDate1" value="<%=form.breadthCourseDate1%>" required />

									<input type="text" class="form-control" name="breadthCourseDate2" value="<%=form.breadthCourseDate2%>" required />

									<input type="text" class="form-control" name="breadthCourseDate3" value="<%=form.breadthCourseDate3%>" required />

									<input type="text" class="form-control" name="breadthCourseDate4" value="<%=form.breadthCourseDate4%>" required />

									<input type="text" class="form-control" name="breadthCourseDate5" value="<%=form.breadthCourseDate5%>" required />

									<input type="text" class="form-control" name="breadthCourseDate6" value="<%=form.breadthCourseDate6%>" required />
								</div>
								<div class="col-md-2">
									<div>Grade*</div>
									<input type="text" class="form-control" name="breadthCourseGrade1" value="<%=form.breadthCourseGrade1%>" required />

									<input type="text" class="form-control" name="breadthCourseGrade2" value="<%=form.breadthCourseGrade2%>" required />

									<input type="text" class="form-control" name="breadthCourseGrade3" value="<%=form.breadthCourseGrade3%>" required />

									<input type="text" class="form-control" name="breadthCourseGrade4" value="<%=form.breadthCourseGrade4%>" required />

									<input type="text" class="form-control" name="breadthCourseGrade5" value="<%=form.breadthCourseGrade5%>" required />

									<input type="text" class="form-control" name="breadthCourseGrade6" value="<%=form.breadthCourseGrade6%>" required />

								</div>
							</div>

							<hr/>
							<strong>B. Primary Concentration</strong>
							<div>Three or four courses not listed in (A) of which at least two support in depth the specific dissertation topic and at least one that of which supports more generally the area of computer science in which the dissertation topic falls.  The courses do not need to be related to each other except in that they support the dissertation.  These courses may have been taken as an undergraduate and may have been counted toward an undergraduate degree. </div>
							<div>Include the following information:</div>

							<hr/>
							<div class="row">
								<div class="col-md-6">
									<div>Course Number, Title, & Name of Univ*</div>

									<input type="text" class="form-control" name="concentrationCourseInfo1" value="<%=form.concentrationCourseInfo1%>" required />

									<input type="text" class="form-control" name="concentrationCourseInfo2" value="<%=form.concentrationCourseInfo2%>" required />

									<input type="text" class="form-control" name="concentrationCourseInfo3" value="<%=form.concentrationCourseInfo3%>" required />

									<input type="text" class="form-control" name="concentrationCourseInfo4" value="<%=form.concentrationCourseInfo4%>" required />


								</div>
								<div class="col-md-3">
									<div>Semester/Year*</div>

									<input type="text" class="form-control" name="concentrationCourseDate1" value="<%=form.concentrationCourseDate1%>" required />

									<input type="text" class="form-control" name="concentrationCourseDate2" value="<%=form.concentrationCourseDate2%>" required />

									<input type="text" class="form-control" name="concentrationCourseDate3" value="<%=form.concentrationCourseDate3%>" required />

									<input type="text" class="form-control" name="concentrationCourseDate4" value="<%=form.concentrationCourseDate4%>" required />
								</div>
								<div class="col-md-3">
									<div>Credit/Hours*</div>

									<input type="number" class="form-control" name="concentrationCourseHours1" value="<%=form.concentrationCourseHours1%>" required />

									<input type="number" class="form-control" name="concentrationCourseHours2" value="<%=form.concentrationCourseHours2%>" required />

									<input type="number" class="form-control" name="concentrationCourseHours3" value="<%=form.concentrationCourseHours3%>" required />

									<input type="number" class="form-control" name="concentrationCourseHours4" value="<%=form.concentrationCourseHours4%>" required />
								</div>
							</div>
							
							<hr/>

							<strong>C. Other courses required by your dissertation committee</strong>
							<div>Indicate department, course number, title, and credit hours.  Add note if not taken at UNC-CH. </div>

							<div class="row">
								<div class="col-md-4">
									<div>Course Number & Title*</div>

									<input type="text" class="form-control" name="otherCourseInfo1" value="<%=form.otherCourseInfo1%>" required />

									<input type="text" class="form-control" name="otherCourseInfo2" value="<%=form.otherCourseInfo2%>" required />

									<input type="text" class="form-control" name="otherCourseInfo3" value="<%=form.otherCourseInfo3%>" required />

									<input type="text" class="form-control" name="otherCourseInfo4" value="<%=form.otherCourseInfo4%>" required />
								</div>
								<div class="col-md-2">
									<div>Credit Hours*</div>
									<input type="number" class="form-control" name="otherCourseHours1" value="<%=form.otherCourseHours1%>" required />

									<input type="number" class="form-control" name="otherCourseHours2" value="<%=form.otherCourseHours2%>" required />

									<input type="number" class="form-control" name="otherCourseHours3" value="<%=form.otherCourseHours3%>" required />

									<input type="number" class="form-control" name="otherCourseHours4" value="<%=form.otherCourseHours4%>" required />
								</div>
							</div>

							<div class="row">
								<div class="col-md-4">
									<div>Note:</div>
									<textarea class="form-control" rows="6" name="note"><%=form.note%></textarea>
								</div>
							</div>

							<hr/>
							<div class="row">
								<div class="col-md-4">
									<div>List any other courses here that you believe are relevant to your program of study.</div>
									<textarea class="form-control" rows="6" name="otherCourses"><%=form.otherCourses%></textarea>
								</div>
							</div>

							<hr/>

							<strong>D. Formal Minor(if applicable)</strong>
							<div class="row">
								<div class="col-md-4">
									<div>See policy in <a href="https://handbook.unc.edu/phd.html">The Graduate School Handbook</a></div>
									<textarea class="form-control" rows="6" name="minor"><%=form.minor%></textarea>
								</div>
							</div>

							<hr/>

							<strong>Other Requirements</strong>

							<div><strong>Check if completed</strong></div>
							<div>(it is not necessary to have all other requirements completed to turn in your program of study)</div>

							<div>A. Background Preperation worksheet*</div>
							<div class="col-md-4">
								
								<select name="backgroundPrepWorkSheet" class="form-control" id="inputStatus">
									<option value=<%=form.backgroundPrepWorkSheet%>><%=form.backgroundPrepWorkSheet%></option>
									<option value=false>False</option>
									<option value=true>True</option>
								</select>
							</div>

							<div>B. Program Product requirement*</div>
							<div class="col-md-4">
								
								<select name="programProductRequirement" class="form-control" id="inputStatus">
									<option value=<%=form.programProductRequirement%>><%=form.programProductRequirement%></option>
									<option value=false>False</option>
									<option value=true>True</option>
								</select>
							</div>

							<div>C. PhD. Written Exam(a.k.a. the writing requirement)*</div>
							<div class="col-md-4">
								<select name="PHDWrittenExam" class="form-control" id="inputStatus">
									<option value=<%=form.PHDWrittenExam%>><%=form.PHDWrittenExam%></option>
									<option value=false>False</option>
									<option value=true>True</option>
								</select>
							</div>

							<div>D. PhD Oral Comprehensive Exam*</div>
							<div class="col-md-4">
								<select name="PHDOralExam" class="form-control" id="inputStatus">
									<option value=<%=form.PHDOralExam%>><%=form.PHDOralExam%></option>
									<option value=false>False</option>
									<option value=true>True</option>
								</select>
							</div>

							<hr/>

							<div><strong>III. Committe Members -</strong>List the names of your PhD Committee members. (5 minimum, majority must be Dept. of Computer Science faculty.)</div>
							<div>Each committee member should review the program of study.  The Chairperson is requested to check off or initial beside each member who has reviewed this program of study. </div>


							<div class="row">
								<div class="col-md-6">
									<strong>Committee Member</strong>
								</div>
								<div class="col-md-2">
									Select Adivser
								</div>
								<div class="col-md-2">
									Select Chairman
								</div>
							</div>

							<div class="row">
								<div class="col-md-6">

									<div class="form-group row">
										<label class="col-md-2">1.* </label>
										<div class="col-md-10">
											<input type="text" class="form-control" id="committeeName1" name="committee1" value="<%=form.committee1%>" required />
										</div>
									</div>

									<div class="form-group row">
										<label class="col-md-2">2.* </label>
										<div class="col-md-10">
											<input type="text" class="form-control" id="committeeName2" name="committee2" value="<%=form.committee2%>" required />
										</div>
									</div>

									<div class="form-group row">
										<label class="col-md-2">3.* </label>
										<div class="col-md-10">
											<input type="text" class="form-control" id="committeeName3" name="committee3" value="<%=form.committee3%>" required />
										</div>
									</div>

									<div class="form-group row">
										<label class="col-md-2">4.* </label>
										<div class="col-md-10">
											<input type="text" class="form-control" id="committeeName4" name="committee4" value="<%=form.committee4%>" required />
										</div>
									</div>

									<div class="form-group row">
										<label class="col-md-2">5.* </label>
										<div class="col-md-10">
											<input type="text" class="form-control" id="committeeName5" name="committee5" value="<%=form.committee5%>"required />
										</div>
									</div>

									<div class="form-group row">
										<label class="col-md-2">6. </label>
										<div class="col-md-10">
											<input type="text" class="form-control" id="committeeName6" name="committee6" value="<%=form.committee6%>"/>
										</div>
									</div>

								</div>

								<div class="col-md-2">
									<% for(var i = 1; i < 7; i++) { %>
										<div class="form-group row">
											<div class="col-md-12">
												<button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off" 
												id="adviser<%=i%>" onclick=selectAdviser(<%=i%>)>A</button>
											</div>
										</div>
									<% } %>
								</div>
								<div class="col-md-2">
									<% for(var i = 1; i < 7; i++) { %>
										<div class="form-group row">
											<div class="col-md-12">
												<button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off" 
												id="chairman<%=i%>" onclick=selectChairman(<%=i%>)>C</button>
											</div>
										</div>
									<% } %>
								</div>

							</div>


							<div class="verticalSpace"/>
							

							<div class="row">
								<div class="col-md-1">
									<div>Adviser:</div>
								</div>
								<div class="col-md-3">
									<input type="hidden" class="form-control" name="adviser" id="adviserInput" value="<%=form.adviser%>" required />
									<%=form.adviser%>
								</div>
							</div>

							<div class="row">
								<div class="col-md-1">
									<div>Chairman:</div>
									
								</div>
								<div class="col-md-3">
									<input type="hidden" class="form-control" name="chairman" id="chairmanInput" value="<%=form.chairman%>" required />
									<%=form.chairman%>
								</div>
							</div>

							<hr></hr>

							<div><strong>Committee Adviser</strong>(or Chair if different from adviser)*</div>
							<div>By signing here, the chair indicates that all items above have been approved by the majority of the committee.</div>
							<i><%=signature%></i>
							<div class="col-md-4">
								<input type="text" class="form-control" name="chairSignature" value="<%=form.chairSignature%>" required />
							</div>

							<hr/>

							<strong>IV. Approval</strong>

							<div><strong>PhD Program of Study APPROVAL PROCESS*</strong></div>
							<div>The PhD Program of Study will be reviewed by the GCS (Graduate Studies Committee).  GSC meets a number of times during each semester.  In order for your Program of Study to be reviewed in a timely manner, it is highly recommended to submit it early, preferably in your 6th semester or around the time you have your proposal meeting</div>

							<div class="col-md-4">
								<select name="approved" class="form-control">
									<option value=<%=form.comp915%>><%=form.approved%></option>
									<option value="Approved">Approved</option>
									<option value="Disapproved">Disapproved</option>
								</select>
							</div>

							<hr/>

							<div class="row">
								<div class="col-md-4">
									<div>Reason for Disapproved and Needed Adjustments Stated Here </div>
									<textarea class="form-control" rows="6" name="reasonApproved"><%=form.reasonApproved%></textarea>
								</div>
							</div>

							<hr/>

							<% if(!isStudent) {%>

							<div class="row">
								<div class="col-md-4">
									<div>Director of Graduate Studies Signature:*</div>
									<i><%=signature%></i>
									<input type="text" class="form-control" name="directorSignature" value="<%=form.directorSignature%>" required />
								</div>
							</div>

							<% } %>

							<div class="verticalSpace" />

							<button type="submit" class="btn btn-primary">Submit</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<%- include("../partials/bootstrapScripts.ejs") %>
	</body>
	<script type="text/javascript">
		function selectAdviser(number){
			for(var i = 1; i < 7; i++){
				if(i != number){
					document.getElementById("adviser"+i).classList.remove("active");
					document.getElementById("adviser"+i).ariaPressed = false;
				}
			}
			var tempName = document.getElementById("committeeName"+number).value;
			document.getElementById("adviserInput").value = tempName;
		}

		function selectChairman(number){
			for(var i = 1; i < 7; i++){
				if(i != number){
					document.getElementById("chairman"+i).classList.remove("active");
					document.getElementById("chairman"+i).ariaPressed = false;
				}
			}
			var tempName = document.getElementById("committeeName"+number).value;
			document.getElementById("chairmanInput").value = tempName;
		}
	</script>
</html>