<!DOCTYPE html>
<!-- views/student/CS08.ejs -->

<html>
	<head>
		<title>CS08 M.S. Technical Writing Requirement</title>
		<%- include("../partials/head.ejs") %>
	</head>
	
	<body>
		<div class="container-fluid h-100">
			<div class="row h-100">
				<div class="col-lg-2 sidebar text-center">

					<%- include("../partials/admin-sidebar.ejs") %>

					<%- include("./search-student.ejs") %>

				</div>
				<div align ="center" class="col-lg-10 panelbg text-center">

					<% if(uploadSuccess == true) { %>
					<div class="alert alert-success alert-dismissible fade show" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<strong>Submit success!</strong>
					</div>
					<% } %>

					<%- include("./studentBarPartial.ejs") %>

					<h4><%=student.lastName%>, <%=student.firstName%></h4>

					<h3>M.S. Technical Writing Requirement</h3>
					<h3>CS-08</h3>

					<strong class="verticalSpace">All fields required!</strong>

					<div align="left">

						<hr></hr>

						<form action="/student/forms/update/<%=student._id%>/CS08" method="post">

							<input type="hidden" class="form-control" name="student" value=<%=student._id%> />

							<div class="row">
								<div class="col-md-6">
									<div>Name</div>
									<input type="text" class="form-control" name="name" value="<%=student.lastName%>, <%=student.firstName%>" required/>
								</div>
								<div class="col-md-6">
									<div>PID</div>
									<input type="number" class="form-control" name="pid" value=<%=student.pid%> required />
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div>Semester</div>
									<input type="text" class="form-control" name="semester" value="<%=form.semester%>" required/>
								</div>
								<div class="col-md-6">
									<div>Year</div>
									<input type="number" class="form-control" name="year" value=<%=form.year%> required />
								</div>
							</div>

							<hr></hr>

							<strong>Title of Paper:</strong>
							<div class="col-md-4">
								<textarea class="form-control" rows="6" name="title" required><%=form.title%>
								</textarea>
							</div>

							<hr/>
							<strong>Agreement to Review</strong>
							<div>The final draft to the primary reader must be delivered 4 weeks before the last day of classes of the semester in which the student plans to graduate.  We recommend that you work with the primary reader throughout the semester, first creating an outline, and then iterating over several drafts.</div>

							<div class="row">
								<div class="col-md-6">
									<div>Primary Reader</div>
									<input type="text" class="form-control" name="primaryReader" value="<%=form.primaryReader%>" required/>
								</div>
								<div class="col-md-6">
									<div>Date Draft Received</div>
									<input type="text" class="form-control" name="primaryDate" value="<%=form.primaryDate%>" required />
								</div>
							</div>

							<div>The final draft to the secondary reader must be delivered 2 weeks before the last day of classes of the semester in which the student plans to graduate.</div>

							<div class="row">
								<div class="col-md-6">
									<div>Secondary Reader</div>
									<input type="text" class="form-control" name="secondaryReader" value="<%=form.secondaryReader%>" required/>
								</div>
								<div class="col-md-6">
									<div>Date Draft Received</div>
									<input type="text" class="form-control" name="secondaryDate" value="<%=form.secondaryDate%>" required />
								</div>
							</div>

							<hr/>

							<strong>Approval</strong>

							<div>We have judged this paper to be of thesis quality in both substance and presentation. It therefore satisfies the writing requirement for the M.S. in Computer Science.</div>

							<div>Primary Reader signature</div>
							<div class="row">
								<div class="col-md-6">
									<i><%=signature%></i>
									<input type="text" class="form-control" name="primarySignature" value="<%=form.primarySignature%>" required/>
								</div>
								<div class="col-md-6">
									<div>Date</div>
									<input type="text" class="form-control" name="primarySignedDate" value="<%=form.primarySignedDate%>" required />
								</div>
							</div>

							<div>Secondary Reader signature</div>
							<div class="row">
								<div class="col-md-6">
									<i><%=signature%></i>
									<input type="text" class="form-control" name="secondarySignature" value="<%=form.secondarySignature%>" required/>
								</div>
								<div class="col-md-6">
									<div>Date</div>
									<input type="text" class="form-control" name="secondarySignedDate" value="<%=form.secondarySignedDate%>" required />
								</div>
							</div>

							<div class="verticalSpace"/>
							
							<button type="submit" class="btn btn-primary">Submit</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<%- include("../partials/bootstrapScripts.ejs") %>
	</body>
	<script type="text/javascript">

	</script>
</html>