<!DOCTYPE html>
<!-- views/student/edit.ejs -->

<html>
	<head>
		<title>Edit student</title>
		<%- include("../partials/head.ejs") %>
	</head>
	
	<body>
		<div class="container-fluid h-100">
			<div class="row h-100">
				<div class="col-lg-2 sidebar text-center">

					<%- include("../partials/admin-sidebar.ejs") %>
					<%- include("./search-student.ejs") %>

				</div>
				<div align ="center" class="col-lg-10 panelbg text-center">

					<%- include("./studentBarPartial.ejs") %>

					<h4><%=student.lastName%>, <%=student.firstName%></h4>

					<h1>Edit student</h1>
					<form action="/student/put" method="post">
						<input type="hidden" name="_id" value=<%=student._id%>></input>
						<div class="row">
							<div class="col-md-4">
								<div class="form-group row">
									<label class="col-md-4">Onyen</label>
									<div class="col-md-8">
										<div><%=student.onyen%></div>
										<input type="hidden" class="form-control" name="onyen" value="<%=student.onyen%>" required/>
									</div>
								</div>

								<% if (student.csid != student.onyen) {%>

								<div id="hidecsid" class="form-group row">
									<label class="col-md-4">CSID</label>
									<div class="col-md-8">
										<div><%=student.csid%></div>
										<input type="hidden" class="form-control" name="csid" value="<%=student.csid%>" required/>
									</div>
								</div>

								<%}%>

								<div class="form-group row">
									<label for="inputFirstname" class="col-md-4">First name *</label>
									<div class="col-md-8">
										<input type="text" class="form-control" id="inputFirstname" name="firstName" value="<%=student.firstName%>" required/>
									</div>
								</div>

								<div class="form-group row">
									<label for="inputLastname" class="col-md-4">Last name *</label>
									<div class="col-md-8">
										<input type="text" class="form-control" id="inputLastname" name="lastName" value="<%=student.lastName%>" required/>
									</div>
								</div>

								<div class="form-group row">
									<label for="inputPronouns" class="col-md-4">Pronouns</label>
									<div class="col-md-8">
										<select name="pronouns" class="form-control" id="inputPronouns">
											<% for(var i=0; i<pronouns.length; i++) { %>
												<option value="<%= pronouns[i]%>" <% if(student.pronouns === pronouns[i]) { %> selected <% } %>><%=pronouns[i]%></option>
											<% } %>
										</select>
									</div>
								</div>

								<div class="form-group row">
									<label class="col-md-4">PID</label>
									<div class="col-md-8">
										<div><%=student.pid%></div>
										<input type="hidden" class="form-control" name="pid" value="<%=student.pid%>" required/>
									</div>
								</div>

								<div class="form-group row">
									<label for="inputStatus" class="col-md-4">Status</label>
									<div class="col-md-8">
										<select name="status" class="form-control" id="inputStatus">
											<% for(var i=0; i<status.length; i++) { %>
												<option value=<%= status[i]%> <% if(student.status === status[i]) { %> selected <% } %>><%=status[i]%></option>
											<% } %>
										</select>
									</div>
								</div>

								<div class="form-group row">
									<label for="inputAltname" class="col-md-4">Alternative name</label>
									<div class="col-md-8">
										<input type="text" class="form-control" id="inputAltname" name="alternativeName" <% if(student.alternativeName != null) { %> value="<%=student.alternativeName%>" <% } %>/>
									</div>
								</div>

								<div class="form-group row">
									<label for="inputGender" class="col-md-4">Gender</label>
									<div class="col-md-8">
										<select name="gender" class="form-control" id="inputGender">
											<% for(var i=0; i<genders.length; i++) { %>
												<option value=<%= genders[i]%> <% if(student.gender === genders[i]) { %> selected <% } %>><%=genders[i]%></option>
											<% } %>
										</select>
									</div>
								</div>

								<div class="form-group row">
									<label for="inputEthnicity" class="col-md-4">Ethnicity</label>
									<div class="col-md-8">
										<select name="ethnicity" class="form-control" id="inputEthnicity">
											<% for(var i=0; i<ethnicities.length; i++) { %>
												<option value=<%= ethnicities[i]%> <% if(student.ethnicity === ethnicities[i]) { %> selected <% } %>><%=ethnicities[i]%></option>
											<% } %>
										</select>
									</div>
								</div>

								<div class="form-group row">
									<label for="inputResidency" class="col-md-4">Residency</label>
									<div class="col-md-8">
										<select name="residency" class="form-control" id="inputResidency">
											<% for(var i=0; i<residencies.length; i++) { %>
												<option value=<%= residencies[i]%> <% if(student.residency === residencies[i]) { %> selected <% } %>><%=residencies[i]%></option>
											<% } %>
										</select>
									</div>
								</div>

								<div class="form-group row">
									<label for="inputEnteringStatus" class="col-md-4">Entering status</label>
									<div class="col-md-8">
										<input type="text" class="form-control" id="inputEnteringStatus" name="enteringStatus" <% if(student.enteringStatus != null) { %> value="<%=student.enteringStatus%>" <% } %>/>
									</div>
								</div>

								<div class="form-group row">
									<label for="inputResearchArea" class="col-md-4">Research area</label>
									<div class="col-md-8">
										<input type="text" class="form-control" id="inputResearchArea" name="researchArea" <% if(student.researchArea != null) { %> value="<%=student.researchArea%>" <% } %>/>
									</div>
								</div>

							</div>
							<div class="col-md-4">

								<div class="form-group row">
									<label for="inputLeaveExtension" class="col-md-4">Leave extension</label>
									<div class="col-md-8">
										<input type="text" class="form-control" id="inputLeaveExtension" name="leaveExtension" <% if(student.leaveExtension != null) { %> value="<%=student.leaveExtension%>" <% } %>/>
									</div>
								</div>

								<div class="form-group row">
									<label for="inputIntendedDegree" class="col-md-4">Intended degree</label>
									<div class="col-md-8">
										<select name="intendedDegree" class="form-control" id="inputIntendedDegree">
											<% for(var i=0; i<degrees.length; i++) { %>
												<option value=<%= degrees[i]%> <% if(student.intenededDegree === degrees[i]) { %> selected <% } %>><%=degrees[i]%></option>
											<% } %>
										</select>
									</div>
								</div>

								<div class="form-group row">
									<label for="inputHoursCompleted" class="col-md-4">Hours completed</label>
									<div class="col-md-8">
										<input type="number" class="form-control" id="inputHoursCompleted" name="hoursCompleted" <% if(student.hoursCompleted != null) { %> value=<%=student.hoursCompleted%> <% } %>/>
									</div>
								</div>

								<div class="form-group row">
									<label for="inputCitizenship" class="col-md-4">Citizenship</label>
									<div class="col-md-8">
										<input type="checkbox" class="form-check-input" id="inputCitizenship" name="citizenship" value="true" <% if(student.citizenship === true) { %> checked <% } %>/>
									</div>
								</div>

								<div class="form-group row">
									<label for="inputFundingEligibility" class="col-md-4">Funding eligibility</label>
									<div class="col-md-8">
										<select name="fundingEligibility" class="form-control" id="inputFundingEligibility">
											<% for(var i=0;i<eligibility.length; i++) { %>
												<option value="<%= eligibility[i]%>" <% if(student.fundingEligibility === eligibility[i]) { %> selected <% } %>><%=eligibility[i]%></option>
											<% } %>
										</select>
									</div>
								</div>

								<div class="form-group row">
									<label for="inputBackgroundApproved" class="col-md-4">Background approved</label>
									<div class="col-md-8">
										<input type="date" class="form-control" id="inputBackgroundApproved" name="backgroundApproved" <% if(student.backgroundApproved != null) { %> value=<%=student.backgroundApproved.toISOString().substring(0,10)%> <% } %> />
									</div>
								</div>

								<div class="form-group row">
									<label for="inputMastersAwarded" class="col-md-4">Masters awarded</label>
									<div class="col-md-8">
										<input type="date" class="form-control" id="inputMastersAwarded" name="mastersAwarded" <% if(student.mastersAwarded != null) { %> value=<%=student.mastersAwarded.toISOString().substring(0,10)%> <% } %> />
									</div>
								</div>

								<div class="form-group row">
									<label for="inputPrpPassed" class="col-md-4">prp passed</label>
									<div class="col-md-8">
										<input type="date" class="form-control" id="inputPrpPassed" name="prpPassed" <% if(student.prpPassed != null) { %> value=<%=student.prpPassed.toISOString().substring(0,10)%> <% } %>/>
									</div>
								</div>

								<div class="form-group row">
									<label for="inputBackgroundPrepWorksheetApproved" class="col-md-4">Background prep worksheet approved</label>
									<div class="col-md-8">
										<input type="date" class="form-control" id="inputBackgroundPrepWorksheetApproved" name="backgroundPrepWorksheetApproved" <% if(student.backgroundPrepWorksheetApproved != null) { %> value=<%=student.backgroundPrepWorksheetApproved.toISOString().substring(0,10)%> <% } %>/>
									</div>
								</div>

								<div class="form-group row">
									<label for="inputProgramOfStudyApproved" class="col-md-4">Program of study approved</label>
									<div class="col-md-8">
										<input type="date" class="form-control" id="inputProgramOfStudyApproved" name="programOfStudyApproved" <% if(student.programOfStudyApproved != null) { %> value=<%=student.programOfStudyApproved.toISOString().substring(0,10)%> <% } %>/>
									</div>
								</div>

							</div>
							<div class="col-md-4">
								

								<div class="form-group row">
									<label for="inputResearchPlanningMeeting" class="col-md-4">Research planning meeting</label>
									<div class="col-md-8">
										<input type="date" class="form-control" id="inputResearchPlanningMeeting" name="researchPlanningMeeting" <% if(student.researchPlanningMeeting != null) { %> value=<%=student.researchPlanningMeeting.toISOString().substring(0,10)%> <% } %>/>
									</div>
								</div>

								<div class="form-group row">
									<label for="inputCommitteeCompApproved" class="col-md-4">Committee comp approved</label>
									<div class="col-md-8">
										<input type="date" class="form-control" id="inputCommitteeCompApproved" name="committeeCompApproved" <% if(student.committeeCompApproved != null) { %> value=<%=student.committeeCompApproved.toISOString().substring(0,10)%> <% } %>/>
									</div>
								</div>

								<div class="form-group row">
									<label for="inputPhdProposalApproved" class="col-md-4">phD proposal approved</label>
									<div class="col-md-8">
										<input type="date" class="form-control" id="inputPhdProposalApproved" name="phdProposalApproved" <% if(student.phdProposalApproved != null) { %> value=<%=student.phdProposalApproved.toISOString().substring(0,10)%> <% } %>/>
									</div>
								</div>

								<div class="form-group row">
									<label for="inputOralExamPassed" class="col-md-4">Oral exam passed</label>
									<div class="col-md-8">
										<input type="date" class="form-control" id="inputOralExamPassed" name="oralExamPassed" <% if(student.oralExamPassed != null) { %> value=<%=student.oralExamPassed.toISOString().substring(0,10)%> <% } %>/>
									</div>
								</div>

								<div class="form-group row">
									<label for="inputDissertationDefencePassed" class="col-md-4">Dissertation defence passed</label>
									<div class="col-md-8">
										<input type="date" class="form-control" id="inputDissertationDefencePassed" name="dissertationDefencePassed" <% if(student.dissertationDefencePassed != null) { %> value=<%=student.dissertationDefencePassed.toISOString().substring(0,10)%> <% } %>/>
									</div>	
								</div>

								<div class="form-group row">
									<label for="inputDissertationSubmitted" class="col-md-4">Dissertation submitted</label>
									<div class="col-md-8">
										<input type="date" class="form-control" id="inputDissertationSubmitted" name="dissertationSubmitted" <% if(student.dissertationSubmitted != null) { %> value=<%=student.dissertationSubmitted.toISOString().substring(0,10)%> <% } %>/>
									</div>
								</div>

								<div class="form-group row">
									<label for="inputPHDAwarded" class="col-md-4">PhD. Awarded</label>
									<div class="col-md-8">
										<input type="date" class="form-control" id="inputPHDAwarded" name="phdAwardedDate" <% if(student.phdAwardedDate != null) { %> value=<%=student.phdAwardedDate.toISOString().substring(0,10)%> <% } %> />
									</div>
								</div>

								<div class="form-group row">
									<label for="inputSemesterStarted" class="col-md-4">Semester started</label>
									<div class="col-md-8">
										<select name="semesterStarted" class="form-control" id="inputSemesterStarted">
											<option value=""></option>
											<% for(var i=0; i<semesters.length; i++) { %>
												<option value=<%= semesters[i]._id%> <% if(student.semesterStarted != null && student.semesterStarted._id.equals(semesters[i]._id)) { %> selected <% } %>><%=semesters[i].season%> <%=semesters[i].year%></option>
											<% } %>
										</select>
									</div>
								</div>

								<div class="form-group row">
									<label for="inputAdvisor" class="col-md-4">Advisor</label>
									<div class="col-md-8">
										<select name="advisor" class="form-control" id="inputAdvisor" required>
											<option value=""></option>
											<% for(var i=0; i<faculty.length; i++) { %>
												<option value=<%= faculty[i]._id%> <% if(student.advisor != null && student.advisor._id.equals(faculty[i]._id)) { %> selected <% } %>><%=faculty[i].lastName%>, <%=faculty[i].firstName%></option>
											<% } %>
										</select>
									</div>
								</div>

								<!-- no courseHistory field, have a dedicated page for adding courseHistory to students -->

							</div>
						</div>

					<div class="col-md-8 offset-md-2">
						<button type="submit" class="btn btn-success">Update</button>
					</div>
					</form>
					<div class="space"></div>
					<form action="/student/delete/<%=student._id%>" method="post">
						<button type="submit" class="btn btn-danger" onclick="return confirm('Do you really want to delete this?');">Delete</button>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>