<!-- views/student/edit.ejs -->
<!DOCTYPE html>

<html>
	<head>
		<title>Edit student</title>
		<%- include("../partials/head.ejs") %>
	</head>
	
	<body>
		<div class="container-fluid h-100">
			<div class="row h-100">
				<div class="col-lg-2 sidebar text-center">

					<%- include("../partials/admin-sidebar.ejs") %>

					<%- include("./search-student.ejs") %>

				</div>
				<div align ="center" class="col-lg-10 panelbg text-center">
					<h1>Edit student</h1>
					<form action="/student/put" method="post">
						<input type="hidden" name="_id" value=<%=student._id%>></input>
						<div class="row">
							<div class="col-md-4">
								<div class="form-group row">
									<label for="inputUsername" class="col-md-4">Username</label>
									<div class="col-md-8">
										<input type="text" class="form-control" id="inputUsername" name="username" value=<%=student.username%> required/>
									</div>
								</div>

								<div class="form-group row">
									<label for="inputFirstname" class="col-md-4">First name</label>
									<div class="col-md-8">
										<input type="text" class="form-control" id="inputFirstname" name="firstName" value="<%=student.firstName%>" required/>
									</div>
								</div>

								<div class="form-group row">
									<label for="inputLastname" class="col-md-4">Last name</label>
									<div class="col-md-8">
										<input type="text" class="form-control" id="inputLastname" name="lastName" value="<%=student.lastName%>" required/>
									</div>
								</div>

								<div class="form-group row">
									<label for="inputPid" class="col-md-4">PID</label>
									<div class="col-md-8">
										<input type="number" class="form-control" id="inputPid" name="pid" value=<%=student.pid%> required/>
									</div>
								</div>

								<div class="form-group row">
									<label for="inputActive" class="col-md-4">Active</label>
									<div class="col-md-8">
										<input type="checkbox" class="form-check-input" id="inputActive" name="active" <% if(student.active === true) { %> checked <% } %> value="true"/>
									</div>
								</div>

								<div class="form-group row">
									<label for="inputAltname" class="col-md-4">Alternative name</label>
									<div class="col-md-8">
										<input type="text" class="form-control" id="inputAltname" name="alternativeName" <% if(student.alternativeName != null) { %> value="<%=student.alternativeName%>" <% } %>/>
									</div>
								</div>

								<div class="form-group row">
									<label for="inputGender" class="col-md-4">Gender</label>
									<div class="col-md-8">
										<select name="gender" class="form-control" id="inputGender">
											<% if(student.gender != null) { %>
											<option value=<%=student.gender%>><%=student.gender%></option>
											<% } else {%>
											<option value=""></option>
											<% } %>
											<% for(var i=0; i<genders.length; i++) { %>
												<option value=<%= genders[i]%>><%=genders[i]%></option>
											<% } %>
										</select>
									</div>
								</div>

								<div class="form-group row">
									<label for="inputEthnicity" class="col-md-4">Ethnicity</label>
									<div class="col-md-8">
										<select name="ethnicity" class="form-control" id="inputEthnicity">
											<% if(student.ethnicity != null) { %>
											<option value=<%=student.ethnicity%>><%=student.ethnicity%></option>
											<% } else {%>
											<option value=""></option>
											<% } %>
											<% for(var i=0; i<ethnicities.length; i++) { %>
												<option value=<%= ethnicities[i]%>><%=ethnicities[i]%></option>
											<% } %>
										</select>
									</div>
								</div>

								<div class="form-group row">
									<label for="inputFundingStatus" class="col-md-4">Funding status</label>
									<div class="col-md-8">
										<input type="text" class="form-control" id="inputFundingStatus" name="fundingStatus" <% if(student.fundingStatus != null) { %> value="<%=student.fundingStatus%>" <% } %>/>
									</div>
								</div>

								<div class="form-group row">
									<label for="inputCitizenship" class="col-md-4">Citizenship</label>
									<div class="col-md-8">
										<input type="checkbox" class="form-check-input" id="inputCitizenship" name="citizenship" value="true" <% if(student.citizenship === true) { %> checked <% } %>/>
									</div>
								</div>

								<div class="form-group row">
									<label for="inputResidency" class="col-md-4">Residency</label>
									<div class="col-md-8">
										<select name="residency" class="form-control" id="inputResidency">
											<% if(student.residency != null) { %>
											<option value=<%=student.residency%>><%=student.residency%></option>
											<% } else {%>
											<option value=""></option>
											<% } %>
											<% for(var i=0; i<residencies.length; i++) { %>
												<option value=<%= residencies[i]%>><%=residencies[i]%></option>
											<% } %>
										</select>
									</div>
								</div>

								<div class="form-group row">
									<label for="inputEnteringStatus" class="col-md-4">Entering status</label>
									<div class="col-md-8">
										<input type="text" class="form-control" id="inputEnteringStatus" name="enteringStatus" <% if(student.enteringStatus != null) { %> value="<%=student.enteringStatus%>" <% } %>/>
									</div>
								</div>

							</div>
							<div class="col-md-4">

								<div class="form-group row">
									<label for="inputResearchArea" class="col-md-4">Research area</label>
									<div class="col-md-8">
										<input type="text" class="form-control" id="inputResearchArea" name="reserachArea" <% if(student.researchArea != null) { %> value="<%=student.researchArea%>" <% } %>/>
									</div>
								</div>

								<div class="form-group row">
									<label for="inputBackgroundApproved" class="col-md-4">Background approved</label>
									<div class="col-md-8">
										<input type="checkbox" class="form-check-input" id="inputBackgroundApproved" name="backgroundApproved" value="true" <% if(student.backgroundApproved === true) { %> checked <% } %>/>
									</div>
								</div>

								<div class="form-group row">
									<label for="inputLeaveExtension" class="col-md-4">Leave extension</label>
									<div class="col-md-8">
										<input type="text" class="form-control" id="inputLeaveExtension" name="leaveExtension" <% if(student.leaveExtension != null) { %> value="<%=student.leaveExtension%>" <% } %>/>
									</div>
								</div>

								<div class="form-group row">
									<label for="inputFundingEligibility" class="col-md-4">Funding eligibility</label>
									<div class="col-md-8">
										<input type="checkbox" class="form-check-input" id="inputFundingEligibility" name="fundingEligibility" value="true" <% if(student.fundingEligibility === true) { %> checked <% } %>/>
									</div>
								</div>

								<div class="form-group row">
									<label for="inputFundingStatus" class="col-md-4">Funding status</label>
									<div class="col-md-8">
										<input type="checkbox" class="form-check-input" id="inputFundingStatus" name="fundingStatus" value="true" <% if(student.fundingStatus === true) { %> checked <% } %>/>
									</div>
								</div>

								<div class="form-group row">
									<label for="inputIntendedDegree" class="col-md-4">Intended degree</label>
									<div class="col-md-8">
										<select name="intendedDegree" class="form-control" id="inputIntendedDegree">
											<% if(student.intendedDegree != null) { %>
											<option value=<%=student.intendedDegree%>><%=student.intendedDegree%></option>
											<% } else {%>
											<option value=""></option>
											<% } %>
											<% for(var i=0; i<degrees.length; i++) { %>
												<option value=<%= degrees[i]%>><%=degrees[i]%></option>
											<% } %>
										</select>
									</div>
								</div>

								<div class="form-group row">
									<label for="inputHoursCompleted" class="col-md-4">Hours completed</label>
									<div class="col-md-8">
										<input type="number" class="form-control" id="inputHoursCompleted" name="hoursCompleted" <% if(student.hoursCompleted != null) { %> value=<%=student.hoursCompleted%> <% } %>/>
									</div>
								</div>

								<div class="form-group row">
									<label for="inputPrpPassed" class="col-md-4">prp passed</label>
									<div class="col-md-8">
										<input type="checkbox" class="form-check-input" id="inputPrpPassed" name="prpPassed" value="true" <% if(student.prpPassed === true) { %> checked <% } %>/>
									</div>
								</div>

								<div class="form-group row">
									<label for="inputBackgroundPrepWorksheetApproved" class="col-md-4">Background prep worksheet approved</label>
									<div class="col-md-8">
										<input type="checkbox" class="form-check-input" id="inputBackgroundPrepWorksheetApproved" name="backgroundPrepWorksheetApproved" value="true" <% if(student.backgroundPrepWorksheetApproved === true) { %> checked <% } %>/>
									</div>
								</div>

								<div class="form-group row">
									<label for="inputProgramOfStudyApproved" class="col-md-4">Program of study approved</label>
									<div class="col-md-8">
										<input type="checkbox" class="form-check-input" id="inputProgramOfStudyApproved" name="programOfStudyApproved" value="true" <% if(student.programOfStudyApproved === true) { %> checked <% } %>/>
									</div>
								</div>

								<div class="form-group row">
									<label for="inputResearchPlanningMeeting" class="col-md-4">Research planning meeting</label>
									<div class="col-md-8">
										<input type="checkbox" class="form-check-input" id="inputResearchPlanningMeeting" name="researchPlanningMeeting" value="true" <% if(student.researchPlanningMeeting === true) { %> checked <% } %>/>
									</div>
								</div>

							</div>
							<div class="col-md-4">

								<div class="form-group row">
									<label for="inputCommitteeCompApproved" class="col-md-4">Committee comp approved</label>
									<div class="col-md-8">
										<input type="checkbox" class="form-check-input" id="inputCommitteeCompApproved" name="committeeCompApproved" value="true" <% if(student.committeeCompApproved === true) { %> checked <% } %>/>
									</div>
								</div>

								<div class="form-group row">
									<label for="inputPhdProposalApproved" class="col-md-4">phD proposal approved</label>
									<div class="col-md-8">
										<input type="checkbox" class="form-check-input" id="inputPhdProposalApproved" name="phdProposalApproved" value="true" <% if(student.phdProposalApproved === true) { %> checked <% } %>/>
									</div>
								</div>

								<div class="form-group row">
									<label for="inputOralExamPassed" class="col-md-4">Oral exam passed</label>
									<div class="col-md-8">
										<input type="checkbox" class="form-check-input" id="inputPrpPassed" name="oralExamPassed" value="true" <% if(student.oralExamPassed === true) { %> checked <% } %>/>
									</div>
								</div>

								<div class="form-group row">
									<label for="inputDissertationDefencePassed" class="col-md-4">Dissertation defence passed</label>
									<div class="col-md-8">
										<input type="checkbox" class="form-check-input" id="inputDissertationDefencePassed" name="dissertationDefencePassed" value="true" <% if(student.dissertationDefencePassed === true) { %> checked <% } %>/>
									</div>
								</div>

								<div class="form-group row">
									<label for="inputDissertationSubmitted" class="col-md-4">Dissertation submitted</label>
									<div class="col-md-8">
										<input type="checkbox" class="form-check-input" id="inputDissertationSubmitted" name="dissertationSubmitted" value="true" <% if(student.dissertationSubmitted === true) { %> checked <% } %>/>
									</div>
								</div>

								<div class="form-group row">
									<label for="inputJob" class="col-md-4">Job</label>
									<div class="col-md-8">
										<select name="job" class="form-control" id="inputJob">
											<% if(student.job != null) { %>
											<option value=<%=student.job._id%>><%=student.job.position%>, <%=student.job.semester.season%>, <%=student.job.semester.year%></option>
											<% } else {%>
											<option value=""></option>
											<% } %>
											<% for(var i=0; i<jobs.length; i++) { %>
												<option value=<%= jobs[i]._id%>>
												<%=jobs[i].position%>, 
												<%=jobs[i].supervisor.lastName%>, <%=jobs[i].supervisor.firstName%>,  
												<%=jobs[i].semester.season%>, <%=jobs[i].semester.year%> 
												<% if(jobs[i].course != null) { %>
													<%=jobs[i].course.name%> 
												<% } %>
												</option>
											<% } %>
										</select>
									</div>
								</div>

								<div class="form-group row">
									<label for="inputSemesterStarted" class="col-md-4">Semester started</label>
									<div class="col-md-8">
										<select name="semesterStarted" class="form-control" id="inputSemesterStarted">
											<% if(student.semesterStarted != null) { %>
											<option value=<%=student.semesterStarted._id%>><%=student.semesterStarted.season%>, <%=student.semesterStarted.year%></option>
											<% } else {%>
											<option value=""></option>
											<% } %>
											<% for(var i=0; i<semesters.length; i++) { %>
												<option value=<%= semesters[i]._id%>><%=semesters[i].season%>, <%=semesters[i].year%></option>
											<% } %>
										</select>
									</div>
								</div>

								<div class="form-group row">
									<label for="inputAdvisor" class="col-md-4">Advisor</label>
									<div class="col-md-8">
										<select name="advisor" class="form-control" id="inputAdvisor">
											<% if(student.faculty != null) { %>
											<option value=<%=student.faculty._id%>><%=student.faculty.lastName%>, <%=student.faculty.firstName%></option>
											<% } else {%>
											<option value=""></option>
											<% } %>
											<% for(var i=0; i<faculty.length; i++) { %>
												<option value=<%= faculty[i]._id%>><%=faculty[i].lastName%>, <%=faculty[i].firstName%></option>
											<% } %>
										</select>
									</div>
								</div>

								<!-- no courseHistory field, have a dedicated page for adding courseHistory to students -->

								<div class="form-group row align-items-end">
									<div class="col-md-8 offset-md-2">
										<button type="submit" class="btn btn-success">Update</button>
									</div>
								</div>

							</div>
						</div>
					</form>
					<form action="/student/delete/<%=student._id%>" method="post">
						<button type="submit" class="btn btn-danger" onclick="return confirm('Do you really want to delete this?');">Delete</button>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>