<!-- views/course/edit.ejs -->
<!DOCTYPE html>

<html>
	<head>
		<title>Edit course</title>
		<%- include('../partials/head.ejs') %>
	</head>
	
	<body>
		<div class="container-fluid h-100">
			<div class="row h-100">

				<div class='col-lg-3 sidebar text-center'>

					<%- include('../partials/admin-sidebar.ejs') %>

					<%- include('./search-course.ejs') %>

				</div>
				<div class='col-lg-9 panelbg text-center'>
					<h1>Edit course</h1>
					<form action="/course/put" method="post">
						<input type="hidden" name="_id" value=<%=course._id%>></input>
						<div class="form-group row">
							<label for="inputDepartment" class="col-md-2 offset-md-3">Department</label>
							<div class="col-md-4">
								<input type="text" class="form-control" id="inputDepartment" name="department" value="<%=course.department%>" required/>
							</div>
						</div>

						<div class="form-group row">
							<label for="inputNumber" class="col-md-2 offset-md-3">Course number</label>
							<div class="col-md-4">
								<input type="number" class="form-control" id="inputNumber" name="number" value=<%=course.number%> required/>
							</div>
						</div>

						<div class="form-group row">
							<label for="inputName" class="col-md-2 offset-md-3">Course name</label>
							<div class="col-md-4">
								<input type="text" class="form-control" id="inputName" name="name" value="<%=course.name%>" required/>
							</div>
						</div>

						<div class="form-group row">
							<label for="inputCategory" class="col-md-2 offset-md-3">Category</label>
							<div class="col-md-4">
								<input type="text" class="form-control" id="inputCategory" name="category" value="<%=course.category%>" required/>
							</div>
						</div>

						<div class="form-group row">
							<label for="inputHours" class="col-md-2 offset-md-3">Hours</label>
							<div class="col-md-4">
								<input type="number" class="form-control" id="inputHours" value=<%=course.hours%> name="hours" />
							</div>
						</div>

						<div class="form-group row">
							<label for="inputFaculty" class="col-md-2 offset-md-3">Faculty</label>
							<div class="col-md-4">
								<select name="faculty" class="form-control" id="inputFaculty" required>
									<option value=<%=course.faculty._id%>><%=course.faculty.lastName%>, <%=course.faculty.firstName%></option>
									<% for(var i=0; i<faculty.length; i++) { %>
										<option value=<%= faculty[i]._id%>><%=faculty[i].lastName%>, <%=faculty[i].firstName%></option>
									<% } %>
								</select>
							</div>
						</div>

						<div class="form-group row">
							<label for="inputSemester" class="col-md-2 offset-md-3">Semester</label>
							<div class="col-md-4">
								<select name="semester" class="form-control" id="inputSemester" required>
									<option value=<%=course.semester._id%>><%=course.semester.season%>, <%=course.semester.year%></option>
									<% for(var i=0; i<semesters.length; i++) { %>
										<option value=<%= semesters[i]._id%>><%=semesters[i].season%>, <%=semesters[i].year%></option>
									<% } %>
								</select>
							</div>
						</div>

						<div class="form-group row align-items-end">
							<div class="col-md-4 offset-md-4">
								<button type="submit" class="btn btn-success">Update</button>
							</div>
						</div>

					</form>
					<form action="/course/delete/<%=course._id%>" method="post">
						<button type="submit" class="btn btn-danger" onclick="return confirm('Do you really want to delete this?');">Delete</button>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>